<app-navbar></app-navbar>
<div class="container">
  <h1>Course List</h1>
  <div class="row">
    <div class=" card card-inverse  " *ngFor="let c of course">
      <img src="assets/Images/SVG/{{ c.courseName }}.svg" class="card-img-top" alt="Image Description" height="150rem">
      <h3 class="card-title border-bottom font-monospace">{{c.courseName}}</h3>
      <p class="card-text">Duration : {{c.courseDuration}}</p>
      <p class="card-text">Price : {{c.courseFees|currency:"INR"}}</p>
      <p class="card-text">Rating : {{c.courseRating}}/10</p>
      <div id="buttons">
      <button class="btn btn-primary"  data-toggle="modal" data-target="#addCourseModal" (click)="passCourseId(c.courseId)">Update</button>
      <button class="btn btn-danger" (click)=" deleteCourse(c.courseId,c.courseName)">Delete</button>
      </div>
      <button [routerLink]="['/Quizzes',c.courseId]" class="btn btn-success mt-4">View Quizzes</button>

    </div>
    <div class="col-2 card card-inverse text-white " id="add"  data-toggle="modal" data-target="#myModal">
      <h1 id="plus"> &plus;</h1>
     </div>
  </div>

</div>
<app-add-course></app-add-course>
      <app-update-course data="{{selectedCourseId}}"></app-update-course>

      <button  class="btn btn-primary" data-toggle="modal" data-target="#popupForm">Open Form</button>

