.row{
  margin-top: 5rem;
}
h1{
  text-align: center;
}
.card{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  transition: transform 0.3s;
  padding: 1rem;
  width: 13.5rem;
  background-color: aliceblue;
}
.card:hover {
  transform: scale(1.05);
}
